*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;  
    outline: none;
    border: none;
    text-decoration: none;
    font-size: 20px;
}

#menu_{
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px 0;
    
}
/* Style cho mỗi icon trong#menu */
#menu_ a {
    margin-left: 30px;
    margin-right: 30px;
    padding: 14px 20px;
    color: white;
    text-align: center;
}
/* Style khi di chuột qua icon */
#menu_ a:hover {
    background-color: #575757;
    border-radius: 4px;
}
/* Icon font-awesome */
#menu_ i {
    font-size: 24px;
}


/* Style cho thanh thông số */
#thong_so_ {
    display: flex;
    justify-content: space-around;
    background-color: rgba(24, 32, 85, 0.422);
    padding: 10px;
    font-family: Arial, sans-serif;
    color: white;
}
/* Style cho từng thông số */
.parameter {
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 10px;
}
/* Style cho icon */
.parameter i {
    margin-right: 8px;
    font-size: 24px;
}

/* bảng */
table {
    width: 100%;
    border-collapse: collapse; /* Gộp các viền của ô lại */
    text-align: center; /* Căn giữa nội dung theo chiều ngang */
}

th, td {
    border: 1px solid #ddd; /* Thêm viền cho các ô */
    padding: 10px; /* Thêm khoảng cách bên trong các ô */
    vertical-align: middle; /* Căn giữa theo chiều dọc */
}

/* Định dạng tiêu đề bảng */
th {
    background-color: #f4f4f4;
}

#phan_trang {
    display: flex; /* Dùng Flexbox để căn chỉnh các phần tử */
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: center; /* Căn giữa theo chiều ngang */
    margin: 20px 0; /* Khoảng cách trên dưới cho phần phân trang */
    padding: 10px;
    background-color: #f8f8f8; /* Màu nền nhẹ */
    border-radius: 8px; /* Bo tròn các góc */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ */
}

#phan_trang button {
    background-color: #007bff; /* Màu nền của nút */
    color: white; /* Màu chữ trắng */
    border: none; /* Loại bỏ viền mặc định */
    padding: 8px 16px; /* Khoảng cách trong nút */
    margin: 0 5px; /* Khoảng cách giữa các nút */
    border-radius: 4px; /* Bo tròn góc nút */
    cursor: pointer; /* Thay đổi con trỏ khi hover */
    transition: background-color 0.3s; /* Hiệu ứng chuyển đổi màu nền khi hover */
}

#phan_trang button:hover {
    background-color: #0056b3; /* Màu nền khi hover */
}

#current_page {
    margin: 0 10px; /* Khoảng cách giữa các nút và trang hiện tại */
    font-weight: bold; /* Đậm chữ */
    color: #333; /* Màu chữ của trang hiện tại */
}
#phan_trang button:disabled {
    background-color: #ccc; /* Màu nền khi nút bị vô hiệu hóa */
    cursor: not-allowed; /* Thay đổi con trỏ chuột khi nút bị vô hiệu hóa */
    color: #666; /* Màu chữ khi bị vô hiệu hóa */
}