<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Css/ho_so.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>
    {{>header}}
    <div id="container">
        <div class="profile-card">
                <img src="/pic/cuongggg.jpg" alt="Profile Picture" class="profile-image">
                <div class="profile-info">
                    <p class="me_info">Nguyễn Đình Việt Cường</p>
                    <p class="me_info_2">SĐT: 0967 052 462 </p>
                    <p class="me_info_2">Mã Sv: B21DCCN191 </p>
                    <p class="me_info_2">Lớp: D21CQCN11-B </p>
                    <p class="me_info_2">Phone: 0967 052 462 </p>
                </div>

            
        </div>
            <div class="card_1">
                <a href="" class="icon"><i class="fas fa-file-pdf"></i> Link pdf</a>
                <a href="" class="icon"><i class="fab fa-github"></i> Link github</a>
                <a href="" class="icon"><i class="fas fa-book"></i> Link API DOC</a>
            </div>
    </div>
    <script>
        
    </script>

</body>
</html>