<!DOCTYPE html>
<html lang="en">
<head>
    <title>IOT</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!--dduong dan css tính từ public , bat dau bang '/' --}}
</head>
<body>
    {{{body}}}
</body>
</html>